img
{
width: 250px;

}
*
{   border-radius: 10%;
     background-color: aquamarine;
}
.container
{   
    width: 600px;
    border: 1px solid black;
}
#product-list
{   
    
    padding: 60px;
    line-height: 1;
    margin-inline: 20px ;
    background-color: purple;
    
}
.row
{   
    gap: 12px;
    padding: auto;
}
