img
{
width: 250px;

}
*
{   border-radius: 5%;
     background-color: aquamarine;
}
.container
{   
    width: 600px;
    border: 1px solid skyblue;

}
.container1
{   margin: 10px;
    width: 100%;
    border: 1px solid skyblue;
    background-color: aquamarine;

}
#product-list
{   
    
    padding: 60px;
    line-height: 1;
    margin-inline: 20px ;
    background-color: purple;
    
}
.row
{   
    gap: 12px;
    padding: auto;
}
