
.container{
	margin: 100px;
	background-color: rgb(87, 87, 170);
	 border-radius: 30px;
}
#item{
	background-color: bule;
}
body{
	background-color: aqua;
}
img{
	margin: 12px;
	width: 50px;
	border-radius: 20%;
}
p{
	margin: 20px;
}